
body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
.font-heading {
  font-family: 'Outfit', sans-serif;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 8px;
  left: 50%;
  background-color: white;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 60%;
}
